$game-background-image: "http://www.rudebox.org.ua/demo/animated-background-headers/img/demo-2-bg.jpg";

.game{
	overflow:  hidden;
}

.players{
	position: absolute;

}

@media screen and (orientation:portrait) {
	/* Стили для портретной */
	display: block;
}

@media screen and (orientation:landscape) {
	/* стили для горизонтальной */
	display: none;
}