$game-background-image: "/1.jpg";

.game{

	background-image: url($game-background-image);
    /* Set rules to fill background */
    height: 600px;
    width: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
}

.canvas {
	//padding-top: 1%;
	//padding-left: 2%;
}

.chat{
	padding-right: 4%;
	color:"red";
}

.chat_textarea{
	resize: vertical;
}

.basket{
	position: fixed;
	
}
