.example-extend{
	margin: {
		left: 35%;
		right: 35%;
		top: 9%;
	}

	@media (max-width: 700px) {
		margin: {
			left: 10%;
			right: 10%;
			top: 9%;
		}
	}

}

.col{
	@extend .example-extend;
}

.menu{

	&_bottom{
		margin-bottom: 15%;
	}

	&__link{
		line-height: 2em;
		background-color: $grey;
		color: $text-on-gray-color!important;
		margin-top: 0.8em;
		height: 2em;
		font-size: 1.9rem;
		font-style: italic;
		//min-width: 150px;
		


		&:hover{
			transform: scale(1.03);
			background-color: $dark-grey;
			color: $text-on-gray-color;
		}

		&_center{
			text-align: center;
		}

		&_none{
			text-decoration: none!important;
			display:block;
		}
	}

	&__title{
		color: $dark-grey;
		font-size: 4em;
	}

}



.status-bar{
	position: fixed;
	right: 1.5%;
	top: 3%;
	width: 7%;
	min-width: 60px;

	&__player-name{
		color: $dark-grey;
		font-size: 1.3em;
		text-align: center;
	}

	&__logout{
		border-radius: 10000em;
		background-color: white;
		color: $dark-grey;
		outline: none;
		&:hover{
			transform: scale(1.03);
			background-color: $dark-grey;
			color: $text-on-gray-color;
		}
	}

}


