<html>
<head>
    <meta charset="UTF-8"/>
    <title>Game</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript">
        var ws;
        var started = false;
        var finished = false;

        var myName = "${name}";
        var enemyName = "";

        init = function () {
            ws = new WebSocket("ws://${host_game}:${port_game}${socket_url_game}");

            ws.onopen = function (event) {

            }

            ws.onmessage = function (event) {
                var data = JSON.parse(event.data);
                if(data.status == "start"){
                    alert( "Старт игры" );
                    document.getElementById("wait").style.display = "none";
                    document.getElementById("gameplay").style.display = "block";

                    document.getElementById("time_of_game").innerHTML = data.time_of_game;
                    //document.getElementById("enemyName").innerHTML = data.enemyName;

                    $("#player1").html(data.players[0].name+ " : "+0);
                    $("#player2").html(data.players[1].name+ " : "+0);
                    $("#player3").html(data.players[2].name+ " : "+0);
                }

                if(data.status == "finish"){
                    alert( "финиш игры");
                   document.getElementById("gameOver").style.display = "block";
                   document.getElementById("gameplay").style.display = "none";


                   document.getElementById("win").innerHTML = data.win;
                }

                if(data.status == "scores"){
                    $("#player1").html(data.players[0].name+ " : "+data.players[0].score);
                    $("#player2").html(data.players[1].name+ " : "+data.players[1].score);
                    $("#player3").html(data.players[2].name+ " : "+data.players[2].score);

                }

                //if(data.status == "increment" && data.name == document.getElementById("enemyName").innerHTML){
                //    document.getElementById("enemyScore").innerHTML = data.score;
                //}
            }

            ws.onclose = function (event) {

            }

        };

        function sendMessage() {
            var message = { status : "increment" };
            message = JSON.stringify(message);
            ws.send(message);
        }

    </script>
</head>
<body onload="init();">

    <div id="body">
        <div id="hello">
            <p>Hello, ${name}!</p>
        </div>
            <div id="wait">
                <p>Prepare yourself. Wait for enemy!</p>
            </div>

            <div id="gameplay" style="display: none">
                <p>Time of game: <span id="time_of_game"></span></p>
                <div id="score">
                    <!--${name}-->

                    <p id="player1"></p>
                    <p id="player2" ></p>
                    <p id="player3" ></p>

                    <p><span id="enemyName"></span>: <span id="enemyScore">0</span></p>
                </div>

                <form name="gamePlay" action="">
                    <input type="button" name="submit" value="Press to win!" onclick="sendMessage();"/>
                </form>
            </div>

            <div id="gameOver" style="display: none">
                <p>Game over! Winner - <span id="win"></span></p>
            </div>

    </div>

</body>
</html>